.frame-child13 {
  position: absolute;
  top: 91px;
  left: 945px;
  width: 35px;
  height: 34px;
}
.frame-child14,
.group-child16 {
  position: absolute;
  top: 145px;
  left: 947px;
  width: 35px;
  height: 35px;
}
.group-child16 {
  top: 0;
  left: 0;
  background-color: var(--color-lightgray);
  width: 1280px;
  height: 95.16px;
}
.edit-message-icon2 {
  position: absolute;
  top: 29.45px;
  left: 60px;
  width: 35px;
  height: 33.31px;
  object-fit: cover;
}
.ng-k-ti2 {
  position: absolute;
  top: 37.06px;
  left: 100px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 131px;
  height: 18.08px;
}
.group-child17 {
  position: absolute;
  top: 22.79px;
  left: 276px;
  background-color: var(--color-white);
  width: 723px;
  height: 47.58px;
}
.nhp-gmail-ca2 {
  position: absolute;
  top: 35.16px;
  left: 302.83px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 288.69px;
  height: 25.69px;
}
.group-child18 {
  position: absolute;
  top: 22.79px;
  left: 862px;
  background-color: var(--color-orange-200);
  width: 137px;
  height: 47.58px;
}
.ng-k2 {
  position: absolute;
  top: 32.31px;
  left: 879px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 104px;
  height: 28.55px;
}
.div4,
.group-child19 {
  position: absolute;
  top: 29.45px;
  left: 1008px;
  width: 35px;
  height: 33.31px;
}
.div4 {
  top: 34px;
  left: 1051px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  display: inline-block;
  width: 169px;
  height: 28.55px;
}
.group-child20 {
  position: absolute;
  top: 94px;
  left: 0;
  background-color: var(--color-gray);
  width: 1280px;
  height: 350px;
}
.hng-dn-pre-oder2 {
  position: absolute;
  top: 191px;
  left: 585px;
}
.a-tn-thi2 {
  margin: 0;
}
.a-tn-thi-container2,
.chnh-sch-bo2 {
  position: absolute;
  top: 196px;
  left: 1008px;
}
.chnh-sch-bo2 {
  top: 224px;
  left: 585px;
}
.chnh-sch-i2,
.div5 {
  position: absolute;
  top: 242px;
  left: 1013px;
}
.chnh-sch-i2 {
  top: 257px;
  left: 585px;
}
.cskhpremium-gunplavn2 {
  position: absolute;
  top: 275px;
  left: 1013px;
}
.iu-khon-s2,
.text2 {
  position: absolute;
  top: 290px;
  left: 585px;
}
.text2 {
  top: 194px;
  left: 566px;
}
.preium-gunpla-l-container2 {
  position: absolute;
  top: 187px;
  left: 59px;
  white-space: pre-wrap;
  display: inline-block;
  width: 455px;
}
.chnh-sch-ca-container2,
.gii-thiu-v2,
.thng-tin-lin2 {
  position: absolute;
  top: 129px;
  left: 60px;
  font-size: var(--font-size-xl);
}
.chnh-sch-ca-container2,
.thng-tin-lin2 {
  top: 119px;
  left: 583px;
}
.thng-tin-lin2 {
  top: 124px;
  left: 982px;
}
.ringing-phone-icon2 {
  position: absolute;
  top: 237px;
  left: 977px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.vector-icon6 {
  position: absolute;
  height: 3.6%;
  width: 0.94%;
  top: 44.14%;
  right: 22.34%;
  bottom: 52.26%;
  left: 76.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.email-send-icon2 {
  position: absolute;
  top: 271px;
  left: 977px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.group-child21 {
  position: absolute;
  top: 384px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1280px;
  height: 60px;
}
.copyright2,
.premium-gunpla-powered2 {
  position: absolute;
  top: 405px;
  left: 440px;
}
.premium-gunpla-powered2 {
  left: 523px;
}
.copyright-icon2,
.vector-icon7 {
  position: absolute;
  overflow: hidden;
}
.vector-icon7 {
  height: 3.38%;
  width: 1.17%;
  top: 8.56%;
  right: 19.3%;
  bottom: 88.06%;
  left: 79.53%;
  max-width: 100%;
  max-height: 100%;
}
.copyright-icon2 {
  top: 406px;
  left: 509px;
  width: 15px;
  height: 15px;
}
.rectangle-parent3 {
  position: absolute;
  top: 923px;
  left: -5px;
  width: 1280px;
  height: 444px;
  font-size: var(--font-size-mini);
}
.instance-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-orange-200);
}
.thanh-ton2 {
  position: absolute;
  top: 29.33%;
  left: 27%;
  font-weight: 700;
}
.rectangle-parent4 {
  position: absolute;
  top: 780px;
  left: 493px;
  width: 300px;
  height: 75px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-iori);
}
.component-56-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.component-56-item,
.ti-xung-1-1,
.ti-xung-2-1,
.ti-xung-3-1 {
  position: absolute;
  height: 45.84%;
  width: 15.94%;
  top: 44.49%;
  right: 70.7%;
  bottom: 9.66%;
  left: 13.36%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-56-item,
.ti-xung-1-1,
.ti-xung-3-1 {
  right: 14.45%;
  left: 69.61%;
}
.ti-xung-1-1,
.ti-xung-3-1 {
  right: 51.95%;
  left: 32.11%;
}
.ti-xung-1-1 {
  right: 33.2%;
  left: 50.86%;
}
.vui-lng-chn {
  position: absolute;
  top: 13.71%;
  left: 16.95%;
  font-weight: 600;
}
.component-56,
.frame-child15 {
  position: absolute;
  width: 1280px;
}
.component-56 {
  top: 301px;
  left: 0;
  height: 445px;
  font-size: 50px;
}
.frame-child15 {
  top: 60px;
  left: 2px;
  background-color: var(--color-gray);
  height: 158px;
}
.frame-child16 {
  position: absolute;
  top: 216.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 1283px;
  height: 3px;
}
.frame-child17 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-orange-100);
  width: 1280px;
  height: 60px;
}
.free-ship-ni2 {
  position: absolute;
  top: 21px;
  left: 149px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.premium-gunpla5 {
  position: absolute;
  top: 137px;
  left: 86px;
  font-size: var(--font-size-5xs);
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.gundam-00-celestial-being-logo-icon2 {
  position: absolute;
  top: 11.55px;
  left: 9.88px;
  width: 50.24px;
  height: 47.06px;
  object-fit: cover;
}
.ellipse-parent3,
.group-child23 {
  position: absolute;
  top: 67px;
  left: 82px;
  width: 70px;
  height: 70px;
}
.group-child23 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 723px;
  height: 50px;
}
.tm-kim-sn2 {
  position: absolute;
  top: 13px;
  left: 26.83px;
  display: inline-block;
  width: 288.69px;
}
.group-child24 {
  position: absolute;
  top: 0;
  left: 659.13px;
  background-color: var(--color-orange-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 63.87px;
  height: 50px;
}
.search-icon2 {
  position: absolute;
  top: 8px;
  left: 668.07px;
  width: 44.71px;
  height: 35px;
  object-fit: cover;
}
.rectangle-parent5 {
  position: absolute;
  top: 82px;
  left: 202px;
  width: 723px;
  height: 50px;
  font-size: var(--font-size-3xl);
}
.vector-icon8 {
  position: absolute;
  height: 2.56%;
  width: 2.73%;
  top: 7.61%;
  right: 23.44%;
  bottom: 89.83%;
  left: 73.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng2,
.ti-khon-ca2 {
  position: absolute;
  top: 115px;
  left: 987px;
  font-size: var(--font-size-base);
}
.gi-hng2 {
  top: 170px;
}
.group-child25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
}
.shopping-bag-icon2 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.ellipse-parent4 {
  position: absolute;
  top: 163px;
  left: 945px;
  width: 35px;
  height: 35px;
}
.component-44-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.trang-ch12 {
  position: absolute;
  top: 30.56%;
  left: 20.62%;
}
.component-442,
.component-452 {
  position: absolute;
  top: 160px;
  left: 60px;
  width: 97px;
  height: 36px;
}
.component-452 {
  top: 159px;
  left: 425px;
  width: 108px;
}
.component-462,
.component-472,
.component-482,
.component-492 {
  position: absolute;
  top: 159px;
  left: 254px;
  width: 171px;
  height: 36px;
}
.component-472,
.component-482,
.component-492 {
  left: 533px;
}
.component-482,
.component-492 {
  left: 704px;
  width: 210px;
}
.component-492 {
  left: 157px;
  width: 97px;
}
.ellipse-top {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1367px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
