.frame-child47 {
  position: absolute;
  top: 218px;
  left: 60px;
  width: 1160px;
  height: 500px;
  object-fit: cover;
}
.frame-child48 {
  position: absolute;
  top: 91px;
  left: 945px;
  width: 35px;
  height: 34px;
}
.frame-child49,
.frame-child50 {
  position: absolute;
  top: 145px;
  left: 947px;
  width: 35px;
  height: 35px;
}
.frame-child50 {
  top: 2115px;
  left: 0;
  background-color: var(--color-lightgray);
  width: 1280px;
  height: 95.16px;
}
.edit-message-icon6 {
  position: absolute;
  top: 2144.45px;
  left: 60px;
  width: 35px;
  height: 33.31px;
  object-fit: cover;
}
.ng-k-ti6 {
  position: absolute;
  top: 2152.06px;
  left: 100px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 131px;
  height: 18.08px;
}
.frame-child51 {
  position: absolute;
  top: 2137.79px;
  left: 276px;
  background-color: var(--color-white);
  width: 723px;
  height: 47.58px;
}
.nhp-gmail-ca6 {
  position: absolute;
  top: 2150.16px;
  left: 302.83px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 288.69px;
  height: 25.69px;
}
.frame-child52 {
  position: absolute;
  top: 2137.79px;
  left: 862px;
  background-color: var(--color-orange-200);
  width: 137px;
  height: 47.58px;
}
.ng-k8 {
  position: absolute;
  top: 2147.31px;
  left: 879px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 104px;
  height: 28.55px;
}
.div21,
.frame-child53 {
  position: absolute;
  top: 2144.45px;
  left: 1008px;
  width: 35px;
  height: 33.31px;
}
.div21 {
  top: 2149px;
  left: 1051px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  display: inline-block;
  width: 169px;
  height: 28.55px;
}
.frame-child54 {
  position: absolute;
  top: 2209px;
  left: 0;
  background-color: var(--color-gray);
  width: 1280px;
  height: 350px;
}
.hng-dn-pre-oder6 {
  position: absolute;
  top: 2306px;
  left: 585px;
  font-size: var(--font-size-mini);
}
.a-tn-thi-container6,
.chnh-sch-bo6,
.chnh-sch-i6,
.div22 {
  position: absolute;
  top: 2311px;
  left: 1008px;
  font-size: var(--font-size-mini);
}
.chnh-sch-bo6,
.chnh-sch-i6,
.div22 {
  top: 2339px;
  left: 585px;
}
.chnh-sch-i6,
.div22 {
  top: 2357px;
  left: 1013px;
}
.chnh-sch-i6 {
  top: 2372px;
  left: 585px;
}
.cskhpremium-gunplavn6,
.iu-khon-s6,
.preium-gunpla-l-container6,
.text7 {
  position: absolute;
  top: 2390px;
  left: 1013px;
  font-size: var(--font-size-mini);
}
.iu-khon-s6,
.preium-gunpla-l-container6,
.text7 {
  top: 2405px;
  left: 585px;
}
.preium-gunpla-l-container6,
.text7 {
  top: 2309px;
  left: 566px;
}
.preium-gunpla-l-container6 {
  top: 2302px;
  left: 59px;
  white-space: pre-wrap;
  display: inline-block;
  width: 455px;
}
.chnh-sch-ca-container6,
.gii-thiu-v6,
.thng-tin-lin6 {
  position: absolute;
  top: 2244px;
  left: 60px;
  font-size: var(--font-size-xl);
}
.chnh-sch-ca-container6,
.thng-tin-lin6 {
  top: 2234px;
  left: 583px;
}
.thng-tin-lin6 {
  top: 2239px;
  left: 982px;
}
.ringing-phone-icon6 {
  position: absolute;
  top: 2352px;
  left: 977px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.vector-icon20 {
  position: absolute;
  height: 0.62%;
  width: 0.94%;
  top: 90.31%;
  right: 22.34%;
  bottom: 9.07%;
  left: 76.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.email-send-icon6 {
  position: absolute;
  top: 2386px;
  left: 977px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.frame-child55 {
  position: absolute;
  top: 2499px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1280px;
  height: 60px;
}
.copyright6,
.premium-gunpla-powered6 {
  position: absolute;
  top: 2520px;
  left: 440px;
  font-size: var(--font-size-mini);
}
.premium-gunpla-powered6 {
  left: 523px;
}
.gundam,
.high-grade {
  position: absolute;
  top: 288px;
  left: 915.21px;
  font-size: 80px;
  font-weight: 700;
  font-family: var(--font-iori);
  color: var(--color-white);
  transform: rotate(28.51deg);
  transform-origin: 0 0;
}
.high-grade {
  top: 413.32px;
  left: 68px;
  font-size: 70px;
  transform: rotate(-18.22deg);
}
.frame-child56 {
  position: absolute;
  top: 723px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1280px;
  height: 50px;
}
.frame-child57,
.frame-child58,
.frame-child59,
.frame-child60 {
  position: absolute;
  top: 730px;
  left: 104px;
  background-color: var(--color-gainsboro);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 203px;
  height: 35px;
}
.frame-child58,
.frame-child59,
.frame-child60 {
  left: 388px;
}
.frame-child59,
.frame-child60 {
  left: 988px;
}
.frame-child60 {
  left: 686px;
}
.lc-gi,
.sp-xp,
.thng-hiu,
.tm-theo-tag {
  position: absolute;
  top: 736px;
  left: 108px;
  font-size: var(--font-size-xl);
}
.lc-gi,
.thng-hiu,
.tm-theo-tag {
  left: 392px;
}
.thng-hiu,
.tm-theo-tag {
  left: 996px;
}
.thng-hiu {
  left: 694px;
}
.keyboard-arrow-down1 {
  position: absolute;
  top: 730px;
  left: 272px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.keyboard-arrow-down2,
.keyboard-arrow-down3,
.keyboard-arrow-down4,
.vector-icon21 {
  position: absolute;
  top: 730px;
  left: 556px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.keyboard-arrow-down3,
.keyboard-arrow-down4,
.vector-icon21 {
  left: 1156px;
}
.keyboard-arrow-down4,
.vector-icon21 {
  left: 854px;
}
.vector-icon21 {
  height: 0.59%;
  width: 1.17%;
  top: 84.13%;
  right: 19.3%;
  bottom: 15.28%;
  left: 79.53%;
  max-width: 100%;
  max-height: 100%;
}
.dng-sn-phm,
.sd-rg {
  position: absolute;
  font-weight: 700;
  font-family: var(--font-iori);
}
.dng-sn-phm {
  top: 1988px;
  left: 461px;
  font-size: var(--font-size-16xl);
}
.sd-rg {
  top: 2043px;
  left: 418px;
  font-size: 28px;
}
.frame-child61 {
  position: absolute;
  top: 793px;
  left: 50px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1180px;
  height: 1166px;
}
.frame-child62 {
  position: absolute;
  top: 827px;
  left: 58px;
  width: 268px;
  height: 154px;
  object-fit: cover;
  cursor: pointer;
}
.frame-child63,
.frame-child64,
.frame-child65 {
  position: absolute;
  top: 1397px;
  left: 60px;
  width: 268px;
  height: 154px;
  object-fit: cover;
}
.frame-child64,
.frame-child65 {
  top: 1112px;
  left: 58px;
}
.frame-child65 {
  top: 1682px;
  left: 60px;
}
.frame-child66,
.frame-child67,
.frame-child68,
.frame-child69 {
  position: absolute;
  top: 827px;
  left: 356px;
  width: 268px;
  height: 154px;
  object-fit: cover;
}
.frame-child67,
.frame-child68,
.frame-child69 {
  top: 1397px;
  left: 358px;
}
.frame-child68,
.frame-child69 {
  top: 1112px;
  left: 356px;
}
.frame-child69 {
  top: 1682px;
  left: 358px;
}
.frame-child70,
.frame-child71,
.frame-child72,
.frame-child73 {
  position: absolute;
  top: 826px;
  left: 654px;
  width: 268px;
  height: 155px;
  object-fit: cover;
}
.frame-child71,
.frame-child72,
.frame-child73 {
  top: 1396px;
  left: 656px;
}
.frame-child72,
.frame-child73 {
  top: 1111px;
  left: 654px;
}
.frame-child73 {
  top: 1681px;
  left: 656px;
}
.frame-child74,
.frame-child75,
.frame-child76,
.frame-child77 {
  position: absolute;
  top: 827px;
  left: 952px;
  width: 268px;
  height: 155px;
  object-fit: cover;
}
.frame-child75,
.frame-child76,
.frame-child77 {
  top: 1397px;
  left: 954px;
}
.frame-child76,
.frame-child77 {
  top: 1112px;
  left: 952px;
}
.frame-child77 {
  top: 1682px;
  left: 954px;
}
.frame-child78,
.frame-child79,
.frame-child80,
.frame-child81,
.frame-child82,
.frame-child83 {
  position: absolute;
  top: 980px;
  left: 58px;
  background-color: var(--color-white);
  border: 2px solid var(--color-orange-200);
  box-sizing: border-box;
  width: 268px;
  height: 100px;
}
.frame-child79,
.frame-child80,
.frame-child81,
.frame-child82,
.frame-child83 {
  top: 1266px;
}
.frame-child80,
.frame-child81,
.frame-child82,
.frame-child83 {
  top: 1551px;
  left: 60px;
}
.frame-child81,
.frame-child82,
.frame-child83 {
  top: 1836px;
}
.frame-child82,
.frame-child83 {
  top: 981px;
  left: 654px;
}
.frame-child83 {
  top: 1266px;
}
.frame-child84,
.frame-child85,
.frame-child86,
.frame-child87,
.frame-child88,
.frame-child89,
.frame-child90,
.frame-child91,
.frame-child92,
.frame-child93 {
  position: absolute;
  top: 1551px;
  left: 656px;
  background-color: var(--color-white);
  border: 2px solid var(--color-orange-200);
  box-sizing: border-box;
  width: 268px;
  height: 100px;
}
.frame-child85,
.frame-child86,
.frame-child87,
.frame-child88,
.frame-child89,
.frame-child90,
.frame-child91,
.frame-child92,
.frame-child93 {
  top: 1836px;
}
.frame-child86,
.frame-child87,
.frame-child88,
.frame-child89,
.frame-child90,
.frame-child91,
.frame-child92,
.frame-child93 {
  top: 981px;
  left: 356px;
}
.frame-child87,
.frame-child88,
.frame-child89,
.frame-child90,
.frame-child91,
.frame-child92,
.frame-child93 {
  top: 1266px;
}
.frame-child88,
.frame-child89,
.frame-child90,
.frame-child91,
.frame-child92,
.frame-child93 {
  top: 1551px;
  left: 358px;
}
.frame-child89,
.frame-child90,
.frame-child91,
.frame-child92,
.frame-child93 {
  top: 1836px;
}
.frame-child90,
.frame-child91,
.frame-child92,
.frame-child93 {
  top: 982px;
  left: 952px;
}
.frame-child91,
.frame-child92,
.frame-child93 {
  top: 1267px;
}
.frame-child92,
.frame-child93 {
  top: 1552px;
  left: 954px;
}
.frame-child93 {
  top: 1837px;
}
.hg-1144-gundam3,
.hg-1144-gundam4 {
  position: absolute;
  top: 981px;
  left: 60px;
}
.hg-1144-gundam4 {
  top: 1267px;
  left: 61px;
}
.hg-1144-gundam5,
.hg-1144-gundam6 {
  position: absolute;
  top: 1552px;
  left: 63px;
}
.hg-1144-gundam6 {
  top: 1837px;
}
.hg-1144-darilbalde2 {
  position: absolute;
  top: 982px;
  left: 656px;
}
.hg-1144-rx-78-01fsd {
  position: absolute;
  top: 1267px;
  left: 657px;
}
.hg-1144-rx-78-01n {
  margin: 0;
}
.hg-1144-rx-78-01n-container {
  position: absolute;
  top: 1552px;
  left: 659px;
}
.hg-1144-guels2,
.hg-1144-reversible {
  position: absolute;
  top: 1837px;
  left: 659px;
}
.hg-1144-guels2 {
  top: 982px;
  left: 358px;
}
.hg-1144-zfmf-x20a-container {
  position: absolute;
  top: 1267px;
  left: 359px;
}
.hg-1144-gmgm,
.hg-1144-gundam7 {
  position: absolute;
  top: 1552px;
  left: 361px;
}
.hg-1144-gmgm {
  top: 1837px;
}
.hg-1144-beguir-beu2,
.hg-1144-impulse {
  position: absolute;
  top: 983px;
  left: 954px;
}
.hg-1144-impulse {
  top: 1268px;
}
.hg-1144-core-container,
.hg-1144-rx-0-container {
  position: absolute;
  top: 1553px;
  left: 956px;
}
.hg-1144-rx-0-container {
  top: 1838px;
}
.div23,
.div24,
.div25,
.text8 {
  position: absolute;
  top: 1002px;
  left: 60px;
}
.div23,
.div24,
.div25 {
  top: 1302px;
}
.div24,
.div25 {
  top: 1588px;
  left: 63px;
}
.div25 {
  top: 1870px;
}
.div26,
.div27,
.div28,
.div29 {
  position: absolute;
  top: 1017px;
  left: 656px;
}
.div27,
.div28,
.div29 {
  top: 1302px;
}
.div28,
.div29 {
  top: 1587px;
  left: 659px;
}
.div29 {
  top: 1873px;
}
.div30,
.div31,
.div32 {
  position: absolute;
  top: 1018px;
  left: 358px;
}
.div31,
.div32 {
  top: 1016px;
  left: 60px;
}
.div32 {
  top: 1302px;
  left: 359px;
}
.div33,
.div34,
.div35 {
  position: absolute;
  top: 1587px;
  left: 361px;
}
.div34,
.div35 {
  top: 1872px;
}
.div35 {
  top: 1018px;
  left: 954px;
}
.div36,
.div37,
.div38 {
  position: absolute;
  top: 1303px;
  left: 957px;
}
.div37,
.div38 {
  top: 1587px;
  left: 956px;
}
.div38 {
  top: 1874px;
}
.frame-child94,
.frame-child95,
.frame-child96,
.frame-child97,
.frame-child98,
.frame-child99 {
  position: absolute;
  top: 1318px;
  left: 58px;
  background-color: var(--color-orange-200);
  border: 2px solid var(--color-orange-200);
  box-sizing: border-box;
  width: 268px;
  height: 48px;
}
.frame-child95,
.frame-child96,
.frame-child97,
.frame-child98,
.frame-child99 {
  top: 1603px;
  left: 60px;
}
.frame-child96,
.frame-child97,
.frame-child98,
.frame-child99 {
  top: 1888px;
}
.frame-child97,
.frame-child98,
.frame-child99 {
  top: 1033px;
  left: 654px;
}
.frame-child98,
.frame-child99 {
  top: 1318px;
}
.frame-child99 {
  top: 1603px;
  left: 656px;
}
.frame-child100,
.frame-child101,
.frame-child102,
.frame-child103,
.frame-child104,
.frame-child105,
.frame-child106,
.frame-child107,
.frame-child108,
.frame-child109 {
  position: absolute;
  top: 1888px;
  left: 656px;
  background-color: var(--color-orange-200);
  border: 2px solid var(--color-orange-200);
  box-sizing: border-box;
  width: 268px;
  height: 48px;
}
.frame-child101,
.frame-child102,
.frame-child103,
.frame-child104,
.frame-child105,
.frame-child106,
.frame-child107,
.frame-child108,
.frame-child109 {
  top: 1033px;
  left: 356px;
}
.frame-child102,
.frame-child103,
.frame-child104,
.frame-child105,
.frame-child106,
.frame-child107,
.frame-child108,
.frame-child109 {
  top: 1031px;
  left: 58px;
}
.frame-child103,
.frame-child104,
.frame-child105,
.frame-child106,
.frame-child107,
.frame-child108,
.frame-child109 {
  top: 1318px;
  left: 356px;
}
.frame-child104,
.frame-child105,
.frame-child106,
.frame-child107,
.frame-child108,
.frame-child109 {
  top: 1603px;
  left: 358px;
}
.frame-child105,
.frame-child106,
.frame-child107,
.frame-child108,
.frame-child109 {
  top: 1888px;
}
.frame-child106,
.frame-child107,
.frame-child108,
.frame-child109 {
  top: 1034px;
  left: 952px;
}
.frame-child107,
.frame-child108,
.frame-child109 {
  top: 1319px;
}
.frame-child108,
.frame-child109 {
  top: 1604px;
  left: 954px;
}
.frame-child109 {
  top: 1889px;
}
.thm-vo-gi10,
.thm-vo-gi4,
.thm-vo-gi5,
.thm-vo-gi6,
.thm-vo-gi7,
.thm-vo-gi8,
.thm-vo-gi9 {
  position: absolute;
  top: 1332px;
  left: 111px;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-iori);
  color: var(--color-white);
}
.thm-vo-gi10,
.thm-vo-gi5,
.thm-vo-gi6,
.thm-vo-gi7,
.thm-vo-gi8,
.thm-vo-gi9 {
  top: 1617px;
  left: 113px;
}
.thm-vo-gi10,
.thm-vo-gi6,
.thm-vo-gi7,
.thm-vo-gi8,
.thm-vo-gi9 {
  top: 1902px;
}
.thm-vo-gi10,
.thm-vo-gi7,
.thm-vo-gi8,
.thm-vo-gi9 {
  top: 1047px;
  left: 707px;
}
.thm-vo-gi10,
.thm-vo-gi8,
.thm-vo-gi9 {
  top: 1332px;
}
.thm-vo-gi10,
.thm-vo-gi9 {
  top: 1617px;
  left: 709px;
}
.thm-vo-gi10 {
  top: 1902px;
}
.thm-vo-gi11 {
  top: 1047px;
  left: 409px;
}
.thm-vo-gi11,
.thm-vo-gi12,
.thm-vo-gi13,
.thm-vo-gi14,
.thm-vo-gi15,
.thm-vo-gi16,
.thm-vo-gi17,
.thm-vo-gi18,
.thm-vo-gi19 {
  position: absolute;
  font-size: var(--font-size-mini);
  font-weight: 700;
  font-family: var(--font-iori);
  color: var(--color-white);
}
.thm-vo-gi12 {
  top: 1045px;
  left: 111px;
  cursor: pointer;
}
.thm-vo-gi13,
.thm-vo-gi14,
.thm-vo-gi15,
.thm-vo-gi16,
.thm-vo-gi17,
.thm-vo-gi18,
.thm-vo-gi19 {
  top: 1332px;
  left: 409px;
}
.thm-vo-gi14,
.thm-vo-gi15,
.thm-vo-gi16,
.thm-vo-gi17,
.thm-vo-gi18,
.thm-vo-gi19 {
  top: 1617px;
  left: 411px;
}
.thm-vo-gi15,
.thm-vo-gi16,
.thm-vo-gi17,
.thm-vo-gi18,
.thm-vo-gi19 {
  top: 1902px;
}
.thm-vo-gi16,
.thm-vo-gi17,
.thm-vo-gi18,
.thm-vo-gi19 {
  top: 1048px;
  left: 1005px;
}
.thm-vo-gi17,
.thm-vo-gi18,
.thm-vo-gi19 {
  top: 1333px;
}
.thm-vo-gi18,
.thm-vo-gi19 {
  top: 1618px;
  left: 1007px;
}
.thm-vo-gi19 {
  top: 1903px;
}
.copyright-icon6 {
  position: absolute;
  top: 2521px;
  left: 509px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.frame-child110 {
  position: absolute;
  top: 2040px;
  left: 61px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.frame-child111 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-orange-100);
  width: 1280px;
  height: 60px;
}
.free-ship-ni6 {
  position: absolute;
  top: 21px;
  left: 149px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frame-child112 {
  position: absolute;
  top: 60px;
  left: 2px;
  background-color: var(--color-gray);
  width: 1280px;
  height: 158px;
}
.premium-gunpla13 {
  position: absolute;
  top: 137px;
  left: 86px;
  font-size: var(--font-size-5xs);
}
.frame-child113 {
  position: absolute;
  top: 216.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 1283px;
  height: 3px;
}
.group-child63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.gundam-00-celestial-being-logo-icon6 {
  position: absolute;
  top: 11.56px;
  left: 9.88px;
  width: 50.24px;
  height: 47.06px;
  object-fit: cover;
}
.ellipse-parent11,
.group-child64 {
  position: absolute;
  top: 67px;
  left: 82px;
  width: 70px;
  height: 70px;
}
.group-child64 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 723px;
  height: 50px;
}
.tm-kim-sn6 {
  position: absolute;
  top: 13px;
  left: 26.83px;
  display: inline-block;
  width: 288.69px;
}
.group-child65 {
  position: absolute;
  top: 0;
  left: 659.13px;
  background-color: var(--color-orange-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 63.87px;
  height: 50px;
}
.search-icon6 {
  position: absolute;
  top: 8px;
  left: 668.07px;
  width: 44.71px;
  height: 35px;
  object-fit: cover;
}
.rectangle-parent13 {
  position: absolute;
  top: 82px;
  left: 202px;
  width: 723px;
  height: 50px;
  font-size: var(--font-size-3xl);
}
.vector-icon22 {
  position: absolute;
  height: 1.37%;
  width: 2.73%;
  top: 4.18%;
  right: 23.44%;
  bottom: 94.45%;
  left: 73.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng7,
.ti-khon-ca6 {
  position: absolute;
  top: 115px;
  left: 987px;
  font-size: var(--font-size-base);
  cursor: pointer;
}
.gi-hng7 {
  top: 170px;
}
.group-child66 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
}
.shopping-bag-icon6 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.ellipse-parent12 {
  position: absolute;
  top: 163px;
  left: 945px;
  width: 35px;
  height: 35px;
}
.keyboard-arrow-down5 {
  position: absolute;
  top: 556px;
  left: -23px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.component-26-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.component-26,
.trang-ch36 {
  position: absolute;
  top: 30.56%;
  left: 20.62%;
}
.component-26 {
  top: 162px;
  left: 60px;
  width: 97px;
  height: 36px;
  font-size: var(--font-size-xs);
}
.component-27,
.component-28,
.component-29,
.component-30,
.component-31 {
  position: absolute;
  top: 161px;
  left: 425px;
  width: 108px;
  height: 36px;
  font-size: var(--font-size-xs);
}
.component-27,
.component-28,
.component-30,
.component-31 {
  left: 254px;
  width: 171px;
}
.component-27,
.component-30,
.component-31 {
  left: 533px;
}
.component-27,
.component-31 {
  left: 704px;
  width: 210px;
}
.component-27 {
  left: 157px;
  width: 97px;
}
.rectangle-top {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2559px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
