.frame-child34 {
  position: absolute;
  top: 573px;
  left: 446px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 774px;
  height: 5663px;
}
.z4201193737144-1a8c4fd995baa87-icon {
  position: absolute;
  top: 2989px;
  left: 472px;
  width: 726px;
  height: 521.64px;
  object-fit: cover;
}
.frame-child35,
.frame-child36 {
  position: absolute;
  top: 91px;
  left: 945px;
  width: 35px;
  height: 34px;
}
.frame-child36 {
  top: 145px;
  left: 947px;
  height: 35px;
}
.div14,
.hg-1144-gundam1 {
  position: absolute;
  top: 229px;
  left: 474px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 529px;
  height: 50px;
}
.div14 {
  top: 298px;
  width: 189px;
  height: 49px;
}
.frame-child37 {
  position: absolute;
  top: 572.5px;
  left: 449.5px;
  border-top: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 771px;
  height: 1px;
}
.frame-child38 {
  position: absolute;
  top: 340px;
  left: 473px;
  background-color: var(--color-white);
  width: 161px;
  height: 39px;
}
.div15 {
  position: absolute;
  top: 345px;
  left: 548px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  width: 18px;
  height: 44px;
}
.frame-child39,
.frame-child40,
.frame-child41 {
  position: absolute;
  top: 340px;
  left: 473px;
  background-color: var(--color-gainsboro);
  width: 39px;
  height: 39px;
}
.frame-child40,
.frame-child41 {
  left: 595px;
}
.frame-child41 {
  top: 343px;
  left: 677px;
  background-color: var(--color-orange-200);
  border: 2px solid var(--color-orange-200);
  box-sizing: border-box;
  width: 268px;
  height: 48px;
}
.thm-vo-gi {
  position: absolute;
  top: 357px;
  left: 730px;
  font-weight: 700;
  font-family: var(--font-iori);
  color: var(--color-white);
}
.hng-cht-lng,
.min-ph-c,
.vn-chuyn-ton {
  position: absolute;
  top: 412px;
  left: 513px;
  font-weight: 500;
}
.min-ph-c,
.vn-chuyn-ton {
  top: 458px;
}
.min-ph-c {
  top: 504px;
}
.frame-child42 {
  position: absolute;
  top: 537px;
  left: 446px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 145px;
  height: 36px;
}
.thng-tin-sn {
  position: absolute;
  top: 547px;
  left: 462px;
  font-size: var(--font-size-xs);
  font-weight: 500;
}
.plus-math-icon {
  position: absolute;
  top: 347px;
  left: 602px;
  width: 24px;
  height: 25px;
  object-fit: cover;
}
.user-shield-icon {
  top: 405px;
  object-fit: cover;
}
.container-truck-icon,
.credit-card-icon,
.user-shield-icon {
  position: absolute;
  left: 473px;
  width: 30px;
  height: 30px;
}
.container-truck-icon {
  top: 451px;
  object-fit: cover;
}
.credit-card-icon {
  top: 497px;
  overflow: hidden;
}
.subtract-icon {
  position: absolute;
  top: 347px;
  left: 481px;
  width: 24px;
  height: 25px;
  object-fit: cover;
}
.mt-trong-nhng {
  font-family: var(--font-inter);
}
.mt-trong-nhng-c-trng-ca {
  margin: 0;
}
.escutcheon {
  font-weight: 800;
  font-family: var(--font-inter);
}
.gund-bit-c-container,
.mt-trong-nhng-container,
.ngoi-ra-hg-container {
  position: absolute;
  top: 589px;
  left: 463px;
  font-size: var(--font-size-base);
}
.gund-bit-c-container,
.ngoi-ra-hg-container {
  top: 692px;
}
.ngoi-ra-hg-container {
  top: 1455px;
}
.z4197869507858-158b7da7f40d033-icon {
  position: absolute;
  top: 770px;
  left: 614px;
  width: 437px;
  height: 656px;
  object-fit: cover;
}
.z4197869496674-7bfdcb88f676712-icon,
.z4201193736892-e63886dc503f607-icon {
  position: absolute;
  top: 1531px;
  left: 470px;
  width: 726px;
  height: 484px;
  object-fit: cover;
}
.z4201193736892-e63886dc503f607-icon {
  top: 2053px;
}
.frame-child43 {
  position: absolute;
  top: 2565px;
  left: 470px;
  background-color: #ffc;
  width: 726px;
  height: 396px;
}
.thng-tin-chi-container {
  position: absolute;
  top: 2583px;
  left: 498px;
  font-size: var(--font-size-xl);
  color: var(--color-red);
  white-space: pre-wrap;
}
.cp-hg,
.ngun-gc-sn,
.thuc-series-gundam,
.trang-b-1 {
  position: absolute;
  top: 2680px;
  left: 530px;
  font-weight: 500;
}
.ngun-gc-sn,
.thuc-series-gundam,
.trang-b-1 {
  top: 2756px;
}
.ngun-gc-sn,
.trang-b-1 {
  top: 2785px;
}
.ngun-gc-sn {
  top: 2872px;
}
.xem-thm-cc,
.xem-thm-cch {
  position: absolute;
  top: 2901px;
  left: 530px;
  color: var(--color-steelblue);
}
.xem-thm-cc {
  top: 2930px;
  text-decoration: underline;
}
.decal-loi-decal {
  font-weight: 500;
}
.xem-hng-dn {
  color: var(--color-steelblue);
}
.decal-loi-decal-container {
  position: absolute;
  top: 2814px;
  left: 530px;
}
.dng-khng-km {
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
}
.mua-ring-ti {
  text-decoration: underline;
}
.dng-khng-km-container {
  position: absolute;
  top: 2843px;
  left: 530px;
  color: var(--color-steelblue);
}
.chi-tit-va-container,
.text5 {
  position: absolute;
  top: 2781px;
  left: 530px;
  font-weight: 500;
}
.chi-tit-va-container {
  top: 2709px;
  white-space: pre-wrap;
}
.new-moon-icon,
.new-moon-icon1,
.new-moon-icon2,
.new-moon-icon3 {
  position: absolute;
  top: 2681px;
  left: 498px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.new-moon-icon1,
.new-moon-icon2,
.new-moon-icon3 {
  top: 2757px;
}
.new-moon-icon2,
.new-moon-icon3 {
  top: 2786px;
}
.new-moon-icon3 {
  top: 2873px;
}
.new-moon-icon4,
.new-moon-icon5,
.new-moon-icon6,
.new-moon-icon7,
.new-moon-icon8 {
  position: absolute;
  top: 2902px;
  left: 498px;
  width: 15px;
  height: 15px;
  object-fit: cover;
}
.new-moon-icon5,
.new-moon-icon6,
.new-moon-icon7,
.new-moon-icon8 {
  top: 2931px;
}
.new-moon-icon6,
.new-moon-icon7,
.new-moon-icon8 {
  top: 2815px;
}
.new-moon-icon7,
.new-moon-icon8 {
  top: 2844px;
}
.new-moon-icon8 {
  top: 2710px;
}
.z4201193736892-e63886dc503f607-icon1,
.z4201193737141-dab77ef6babbeff-icon {
  position: absolute;
  top: 3539px;
  left: 472px;
  width: 726px;
  height: 484px;
  object-fit: cover;
}
.z4201193737141-dab77ef6babbeff-icon {
  top: 4051px;
  height: 440.98px;
}
.z4201193733815-f45724bf0de0c5f-icon,
.z4201200517642-49fd9dc401eaeae-icon {
  position: absolute;
  top: 4520px;
  left: 474px;
  width: 726px;
  height: 484px;
  object-fit: cover;
}
.z4201200517642-49fd9dc401eaeae-icon {
  top: 5032px;
}
.z4201200517645-424018ae03b3dbd-icon {
  position: absolute;
  top: 5544px;
  left: 614px;
  width: 437px;
  height: 655.5px;
  object-fit: cover;
}
.vector-icon15,
.vector-icon16 {
  position: absolute;
  height: 0.18%;
  width: 0.94%;
  top: 77.48%;
  right: 22.27%;
  bottom: 22.34%;
  left: 76.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16 {
  height: 0.17%;
  width: 1.17%;
  top: 75.68%;
  right: 19.22%;
  bottom: 24.15%;
  left: 79.61%;
}
.group-child46 {
  position: absolute;
  bottom: 348.84px;
  left: 0;
  background-color: var(--color-lightgray);
  width: 1280px;
  height: 95.16px;
}
.edit-message-icon5 {
  position: absolute;
  bottom: 381.24px;
  left: 60px;
  width: 35px;
  height: 33.31px;
  object-fit: cover;
}
.ng-k-ti5 {
  position: absolute;
  bottom: 388.86px;
  left: 100px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 131px;
  height: 18.08px;
}
.group-child47 {
  position: absolute;
  bottom: 373.63px;
  left: 276px;
  background-color: var(--color-white);
  width: 723px;
  height: 47.58px;
}
.nhp-gmail-ca5 {
  position: absolute;
  bottom: 383.15px;
  left: 302.83px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 288.69px;
  height: 25.69px;
}
.group-child48 {
  position: absolute;
  bottom: 373.63px;
  left: 862px;
  background-color: var(--color-orange-200);
  width: 137px;
  height: 47.58px;
}
.ng-k7 {
  position: absolute;
  bottom: 383.15px;
  left: 879px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  width: 104px;
  height: 28.55px;
}
.div16,
.group-child49 {
  position: absolute;
  bottom: 381.24px;
  left: 1008px;
  width: 35px;
  height: 33.31px;
}
.div16 {
  bottom: 381.45px;
  left: 1051px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  display: inline-block;
  width: 169px;
  height: 28.55px;
}
.group-child50 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray);
  width: 1280px;
  height: 350px;
}
.hng-dn-pre-oder5 {
  position: absolute;
  bottom: 235px;
  left: 585px;
}
.a-tn-thi-container5,
.chnh-sch-bo5 {
  position: absolute;
  bottom: 212px;
  left: 1008px;
}
.chnh-sch-bo5 {
  bottom: 202px;
  left: 585px;
}
.chnh-sch-i5,
.div17 {
  position: absolute;
  bottom: 184px;
  left: 1013px;
}
.chnh-sch-i5 {
  bottom: 169px;
  left: 585px;
}
.cskhpremium-gunplavn5 {
  position: absolute;
  bottom: 151px;
  left: 1013px;
}
.iu-khon-s5,
.text6 {
  position: absolute;
  bottom: 136px;
  left: 585px;
}
.text6 {
  bottom: 232px;
  left: 566px;
}
.preium-gunpla-l-container5 {
  position: absolute;
  bottom: 185px;
  left: 59px;
  white-space: pre-wrap;
  display: inline-block;
  width: 455px;
}
.chnh-sch-ca-container5,
.gii-thiu-v5,
.thng-tin-lin5 {
  position: absolute;
  bottom: 291px;
  left: 60px;
  font-size: var(--font-size-xl);
}
.chnh-sch-ca-container5,
.thng-tin-lin5 {
  bottom: 277px;
  left: 583px;
}
.thng-tin-lin5 {
  bottom: 296px;
  left: 982px;
}
.email-send-icon5,
.ringing-phone-icon5 {
  position: absolute;
  bottom: 185px;
  left: 977px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.email-send-icon5 {
  bottom: 151px;
}
.group-child51 {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1280px;
  height: 60px;
}
.copyright5 {
  position: absolute;
  bottom: 21px;
  left: 440px;
}
.copyright-icon5,
.premium-gunpla-powered5 {
  position: absolute;
  bottom: 21px;
  left: 523px;
}
.copyright-icon5 {
  bottom: 23px;
  left: 509px;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.group-child52,
.vector-icon17 {
  position: absolute;
  bottom: 390.94px;
  left: 1018px;
  width: 15px;
  height: 15.06px;
}
.group-child52 {
  bottom: 444px;
  left: 47px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1180px;
  height: 377px;
}
.group-child53,
.group-child54,
.group-child55 {
  position: absolute;
  bottom: 573px;
  left: 65px;
  width: 268px;
  height: 154px;
  object-fit: cover;
}
.group-child54,
.group-child55 {
  bottom: 574px;
  left: 506px;
  height: 155px;
}
.group-child55 {
  bottom: 573px;
  left: 945px;
}
.hg-1144-darilbalde1 {
  position: absolute;
  bottom: 557px;
  left: 508px;
  font-size: var(--font-size-smi);
}
.div18,
.div19,
.div20,
.hg-1144-beguir-beu1,
.hg-1144-guels1 {
  position: absolute;
  bottom: 556px;
  left: 67px;
  font-size: var(--font-size-smi);
}
.div18,
.div19,
.div20,
.hg-1144-beguir-beu1 {
  left: 947px;
}
.div18,
.div19,
.div20 {
  bottom: 522px;
  left: 508px;
}
.div19,
.div20 {
  bottom: 520px;
  left: 67px;
}
.div20 {
  bottom: 521px;
  left: 947px;
}
.group-child56,
.group-child57,
.group-child58 {
  position: absolute;
  bottom: 474px;
  left: 506px;
  background-color: var(--color-orange-200);
  border: 2px solid var(--color-orange-200);
  box-sizing: border-box;
  width: 268px;
  height: 48px;
}
.group-child57,
.group-child58 {
  bottom: 473px;
  left: 65px;
}
.group-child58 {
  left: 945px;
}
.thm-vo-gi1 {
  position: absolute;
  bottom: 489px;
  left: 559px;
  font-weight: 700;
  font-family: var(--font-iori);
  color: var(--color-white);
}
.thm-vo-gi2 {
  bottom: 488px;
  left: 118px;
  color: var(--color-white);
}
.sn-phm-lin,
.thm-vo-gi2,
.thm-vo-gi3 {
  position: absolute;
  font-weight: 700;
  font-family: var(--font-iori);
}
.thm-vo-gi3 {
  bottom: 488px;
  left: 998px;
  color: var(--color-white);
}
.sn-phm-lin {
  bottom: 753px;
  left: 461px;
  font-size: var(--font-size-16xl);
}
.rectangle-parent11,
.vector-icon18 {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 1280px;
  height: 821px;
}
.vector-icon18 {
  height: 0.23%;
  width: 0.94%;
  top: 96.11%;
  right: 22.34%;
  bottom: 3.67%;
  left: 76.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon {
  position: absolute;
  top: 6162px;
  left: 62px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.frame-child44,
.hg-1-144-gundam-aerial-1 {
  position: absolute;
  top: 330px;
  left: 60px;
  width: 386px;
  height: 243.33px;
}
.frame-child44 {
  top: 0;
  left: 0;
  background-color: var(--color-orange-100);
  width: 1280px;
  height: 60px;
}
.free-ship-ni5 {
  position: absolute;
  top: 21px;
  left: 149px;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.frame-child45 {
  position: absolute;
  top: 60px;
  left: 2px;
  background-color: var(--color-gray);
  width: 1280px;
  height: 158px;
}
.premium-gunpla11 {
  position: absolute;
  top: 137px;
  left: 86px;
  font-size: var(--font-size-5xs);
}
.frame-child46 {
  position: absolute;
  top: 216.5px;
  left: -1.5px;
  border-top: 3px solid var(--color-black);
  box-sizing: border-box;
  width: 1283px;
  height: 3px;
}
.group-child59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}
.gundam-00-celestial-being-logo-icon5 {
  position: absolute;
  top: 11.56px;
  left: 9.88px;
  width: 50.24px;
  height: 47.06px;
  object-fit: cover;
}
.ellipse-parent9,
.group-child60 {
  position: absolute;
  top: 67px;
  left: 82px;
  width: 70px;
  height: 70px;
}
.group-child60 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 723px;
  height: 50px;
}
.tm-kim-sn5 {
  position: absolute;
  top: 13px;
  left: 26.83px;
  display: inline-block;
  width: 288.69px;
}
.group-child61 {
  position: absolute;
  top: 0;
  left: 659.13px;
  background-color: var(--color-orange-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 63.87px;
  height: 50px;
}
.search-icon5 {
  position: absolute;
  top: 8px;
  left: 668.07px;
  width: 44.71px;
  height: 35px;
  object-fit: cover;
}
.rectangle-parent12 {
  position: absolute;
  top: 82px;
  left: 202px;
  width: 723px;
  height: 50px;
  font-size: var(--font-size-3xl);
}
.vector-icon19 {
  position: absolute;
  height: 0.5%;
  width: 2.73%;
  top: 1.52%;
  right: 23.44%;
  bottom: 97.99%;
  left: 73.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng6,
.ti-khon-ca5 {
  position: absolute;
  top: 115px;
  left: 987px;
  font-size: var(--font-size-base);
  cursor: pointer;
}
.gi-hng6 {
  top: 170px;
}
.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
}
.shopping-bag-icon5 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  object-fit: cover;
}
.ellipse-parent10 {
  position: absolute;
  top: 163px;
  left: 945px;
  width: 35px;
  height: 35px;
}
.keyboard-arrow-down {
  position: absolute;
  top: 556px;
  left: -23px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.component-50-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
}
.component-501,
.trang-ch30 {
  position: absolute;
  top: 30.56%;
  left: 20.62%;
}
.component-501 {
  top: 160px;
  left: 60px;
  width: 97px;
  height: 36px;
  font-size: var(--font-size-xs);
}
.component-511,
.component-521,
.component-531,
.component-541,
.component-551 {
  position: absolute;
  top: 159px;
  left: 425px;
  width: 108px;
  height: 36px;
  font-size: var(--font-size-xs);
}
.component-521,
.component-531,
.component-541,
.component-551 {
  left: 254px;
  width: 171px;
}
.component-531,
.component-541,
.component-551 {
  left: 533px;
}
.component-541,
.component-551 {
  left: 704px;
  width: 210px;
}
.component-551 {
  left: 157px;
  width: 97px;
}
.rectangle-root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 7087px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
